  
.logoSocial {
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
}

.logoSocial a{
color: white;
margin-right: 15px;
font-size: 18px;
transition: ease-in;
transition-duration: 0.3s;
font-size: 22px;
}

.logoSocial a:hover{
color: #f8e027;
transition: ease-out;
transition-duration: 0.4s;
}
  
  
  
@media (max-width: 720px){

}